@model AirplaneLuggageBilling.Models.Company_Employee
@{
    ViewBag.Title = "DeleteTeller";
    Layout = "~/Views/admin/_Layout.cshtml";
}

<h2>Delete Teller</h2>

<div class="col-lg-12">
    <div class="col-lg-6">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th >Employee Id </th>
                    <th>Employee Full Name</th>
                    <th >Company Name</th>
                    <th>Airport Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @Model.coEmId</td>
                    <td> @Model.FName @Model.MName @Model.LName</td>
                    <td> @Model.AirCompanyName</td>
                    <td> @Model.AirPortName</td>
                </tr>
            </tbody>

        </table>
        @Html.ActionLink("Delete", "DeleteFromList", new { coEmId = @Model.coEmId }, new { onclick = "return confirm('The record is deleting...');", @class = "btn btn-danger my-auto" })
        @Html.ActionLink("Back to list", "Teller", "admin", new { @class = "btn btn-secondary my-auto" })
    </div>
</div>
