@model AirplaneLuggageBilling.Models.Passanger
@{
    ViewBag.Title = "DeletePassanger";
    Layout = "~/Views/admin/_Layout.cshtml";
}

<h2>Delete Passanger</h2>



<div class="col-lg-12">
    <div class="col-lg-6">
        <h2>Are you sure you wish to delete this record?</h2>
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <td class="col-lg-1"><b>Passanger ID</b></td>
                <td>@Model.passangerId</td>
            </tr>
            <tr>
                <td class="col-lg-1"><b>Passsager Full Name</b></td>
                <td>@Model.FName @Model.MName @Model.LName</td>
            </tr>
            <tr>
                <td class="col-lg-1"><b>Trusted</b></td>
                @{
                    if (Model.isOkay)
                    {
                        <td>Trusted</td>
                    }
                    else
                    {
                        <td>NOT Trusted</td>
                    }
                }
            </tr>
            <tr>
                <td class="col-lg-1"><b>Ticket</b></td>
                @{
                    if (Model.isTicketOkay)
                    {
                        <td>Valid</td>
                    }
                    else
                    {
                        <td>INVALID</td>
                    }
                }
            </tr>

            <tr>
                <td class="col-lg-3"><b>Actions</b></td>
                <td>
                    @Html.ActionLink("Back to list", "Passangers", "admin", new { passangerId = @Model.passangerId }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Delete", "DeletePassangerFromList", new { passangerId = @Model.passangerId }, new { onclick = "return confirm('The record is deleting...');", @class = "btn btn-danger" })
                </td>
            </tr>
        </table>
    </div>
</div>