@model AirplaneLuggageBilling.Models.UserProfile

@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>AirplaneLuggageBilling</title>
    <link href="Content/LuggageBillingStyles.css" rel="stylesheet" />
</head>

<body>
    @using (Html.BeginForm("Login", "admin", FormMethod.Post))
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }

            <section id="cover" class="min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                            <h1 class="display-4 py-2 text-truncate">Login</h1>
                            <div class="px-2">
                                <form action="" class="justify-content-center">
                                    <div class="form-group">
                                        <label class="sr-only">@Html.LabelFor(a => a.UserName)</label>
                                        @Html.TextBoxFor(a => a.UserName, null, new { @class = "form-control ", @placeholder = "User Name" })
                                    </div>
                                    <label>@Html.ValidationMessageFor(a => a.UserName)</label>
                                    <div class="form-group">
                                        <label class="sr-only">@Html.LabelFor(a => a.Password)</label>
                                        @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Password" })
                                        <label> @Html.ValidationMessageFor(a => a.Password) </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </fieldset>
    }
</body>